DATABASE_URL=postgresql://postgres.hucuonrxbvkdcvrultjq:[YOUR_PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://hucuonrxbvkdcvrultjq.supabase.co
SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
SUPABASE_SECRET_KEY=your-supabase-secret-key
PORT=3000
